:root {
  --main-bgc-color: #b0e0e6;
  --text-header-color: #003366;
  --accents-color: #ff6f61;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--main-bgc-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 25px 40px;
}

header .logo {
  display: flex;
  align-items: center;
}

.logo .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accents-color);
}

.logo .name {
  font-size: 25px;
  font-weight: 600;
  color: var(--text-header-color);
  margin-left: 20px;
  letter-spacing: 1px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li a {
  text-decoration: none;
  color: var(--text-header-color);
  font-size: 16px;
  border-right: 1px solid var(--text-header-color);
  padding: 0 10px;
}

.nav-list li:last-of-type a {
  border: none;
}

.menu-mobile {
  display: none;
  font-size: 25px;
  color: var(--text-header-color);
}

.menu-mobile span i:hover {
  color: var(--accents-color);
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-right: 50px;
  margin-bottom: 10px;
}

.intro-text h1 {
  font-size: 80px;
  font-weight: 600;
  color: var(--text-header-color);
  padding: 5px 0;
  letter-spacing: 5px;
}
.intro-text h2 {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.intro-text p {
  font-size: 16px;
  max-width: 400px;
  color: var(--text-main-color);
}

.separator {
  height: 1px;
  width: 95%;
  margin: 0 auto;
  background-color: var(--text-header-color);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  padding: 20px 0 25px;
}

.footer-content .category-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-content .category-content {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.footer-content .category-content .fa-brands {
  font-size: 18px;
  margin-right: 10px;
}

.footer-content .copyrights {
  font-size: 14px;
  font-weight: 300;
}

@media (orientation: portrait) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
@media (max-width: 1280px) {
  .intro img {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 1024px) {
  .intro {
    flex-direction: column-reverse;
  }

  .intro img {
    width: 400px;
    height: 400px;
    margin-right: 0;
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .nav-list {
    display: none;
    justify-content: flex-start;
    width: 100%;
    top: 10vh;
    right: 0;
    background-color: black;
  }

  .nav-list li a {
    border-right: none;
  }
  .menu-mobile {
    display: block;
  }
  .footer-content {
    flex-wrap: wrap;
  }
  .footer-content .copyrights {
    flex-basis: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  header {
    padding: 25px 30px;
  }
  .logo .circle {
    width: 30px;
    height: 30px;
  }

  .logo .name {
    font-size: 18px;
  }
  .intro img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
  }
  .intro-text {
    padding: 0 20px;
  }
  .intro-text h1 {
    font-size: 60px;
    text-align: center;
  }
  .intro-text h2 {
    font-size: 16px;
  }
  .intro-text p {
    font-size: 14px;
  }
  .footer-content .category-name {
    font-size: 14px;
  }

  .footer-content .category-content {
    font-size: 12px;
  }

  .footer-content .category-content .fa-brands {
    font-size: 14px;
  }

  .footer-content .copyrights {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  header {
    padding: 20px 30px;
  }
  .logo .circle {
    width: 25px;
    height: 25px;
  }

  .logo .name {
    font-size: 16px;
  }
  .intro img {
    width: 250px;
    height: 250px;
    margin-top: 20px;
  }
}

@media (max-width: 320px) {
  header {
    padding: 20px 25px;
  }

  .logo .name {
    font-size: 14px;
  }
  .intro img {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }
  .intro-text h1 {
    font-size: 50px;
  }
  .intro-text h2 {
    font-size: 14px;
  }
  .intro-text p {
    font-size: 12px;
  }
}
